
@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.total_learn{
    font-family: 'SLEIGothicTTF';
    font-size: 60px;
    font-weight:bold;
    text-align:center;
}

.total_learn_title{
    font-family: 'SLEIGothicTTF';
    font-size: 25px;
    font-weight:300;
    color: #696cff !important;
}

.total_lecture{
    font-family: 'SLEIGothicTTF';
    font-size: 18px;
    text-align:center;
}

/* 타임라인 */

.timeline {
    width: 90%;
    height: 20px;
    list-style: none;
    text-align: justify;
    margin: 80px auto;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(51%, rgba(191, 128, 11, 1)), color-stop(57%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, #b5b7bb 51%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
}

.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.timeline li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #F2BB13;
    text-align: center;
    line-height: 1.2;
    position: relative;
    border-radius: 50%;
}

.timeline li:before {
    display: inline-block;
    content: attr(time-spot);
    font-family: 'SLEIGothicTTF';
    font-size: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


#start-spot {
    width: 3px;
    height: 20px;
    background: #b5b7bb;
    border-radius: 0%;
    text-align: center;
    right: 4.2vh;
}

#start-spot::before{
    content: attr(time-start);
    top: 25px;
}


#end-spot {
    width: 3px;
    height: 20px;
    background: #b5b7bb;
    border-radius: 0%;
    text-align: center;
    /* left: 100%; */
}

#end-spot::before{
    content: attr(time-end);
    top: 25px;
}

/* nth-child선택기 이용해서 구간선정, 색 다르게 */

.timeline li:nth-child(even) {
    background: #74b9fa;
}

.timeline li:nth-child(odd) {
    background: #ffa0a0;
}

/* before : 시간대 넣을 자리 */
.timeline li:nth-child(odd):before {
    top: -25px;
    /* background: #f14d4d; */
}

.timeline li:nth-child(even):before {
    top: -25px;
    /* background: #1f82df; */
}

.start-line{
    border-left: solid #b5b7bb;
    height: 20px;
    left: 6vh;
    position: absolute;
}

.end-line{
    border-left: solid #b5b7bb;
    height: 20px;
    right: 6.2vh;
    position: absolute;
}

/* 전체분석통계 */
/* #chart2-card{
    min-height:30vh; 
    min-width:30vw;
}
#chart1-card{
    min-height:35vh; 
    min-width:20vw;
} */
/* 
#myChartOne {
    height:35vh; 
    width:36vw;
    display: flex;
}

#myChartTwo {
    height:35vh; 
    width:20vw;
    display: flex;
} */

canvas {
    display: inline-block;
}

body{
    font-family: 'SLEIGothicTTF';
}
