<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/learningpage.css" />
</head>

<body>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <div class="container">
        <div class="Video">
            <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
            <div class="iframe_player">
                <div class="iframe_wrap">
            <div id="player"></div>
            </div>
            </div>

            <div class="video_operation">
                <a href="javascript:doDisplay();" class="setting_nav">>>Video Setting</a>
                <div class="video_setting" style="display: none;">
                    <span>구간 이동 간격</span>
                    <select class="set_interval_box" onchange="set_interval()">
                        <option value=5>5s</option>
                        <option value=10>10s</option>
                        <option value=15>15s</option>
                        <option value=30>30s</option>
                    </select>
                    <span>재생 속도</span>
                    <select class="set_speed_box" onchange="setPlaybackRate()">
                        <option value="0.5">0.5x</option>
                        <option value="0.75">0.75x</option>
                        <option value="1">1x</option>
                        <option value="1.25">1.25x</option>
                        <option value="1.5">1.5x</option>
                        <option value="1.75">1.75x</option>
                        <option value="2">2x</option>
                    </select>
                </div>
                <div class="btn_group">
                    <button id='rewind'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg></button>
                    <button id="play"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
          <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </svg></button>
                    <button id="fast_forward"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
        </svg></button>
                  </div>    
            </div>
        </div>

        <div class="Memo">
        <div class="select_nav">
            <div class="folder_nav" tabindex="1">
                <input class="select_folder" name="folder" type="radio" id="new", value="new">
                <label for="new" class="folder_option">[새로운 과목 지정]</label>
                <input class="select_folder" name="folder" type="radio" id="default", value="default" checked>
                <label for="default" class="folder_option">과목 미지정</label>
                {% for s in subject %}
                <input class="select_folder" name="folder" type="radio" id="{{s.subject}}", value="{{s.subject}}">
                <label for="{{s.subject}}" class="folder_option">{{s.subject}}</label>
                {% endfor %}
            </div>
            <!-- <div class="'create_nav" style="display:none">    
            </div> -->
            <div class="memo_nav">
            <button type="button" class="mymemo_storage">내 문서함</button>
            <button class="finish_learning">학습 종료</button>
            </div>
        </div>
        <div class="writing">
            <div class="title">
                <textarea class="title_input" id="title_input" rows="1" maxlength="50"
                    placeholder="제목을 입력하세요."></textarea>
            </div>
            <div class="content">
                <textarea class="content_input" id="content_input" rows="15" maxlength="1000"
                    placeholder="작성할 내용을 입력하세요."></textarea>
            </div>
            </div>
            <div class="mycam">
                <img src="{% url 'detectme' %}" style="width: 200px;" />
            </div>
        </div>
        <!-- {/* <span class="textarea_count">0/1000 (최대 1000자)</span> */} -->
    </div>
    <script src="../static/js/learning.js"></script>
    <script>
        //video setting display
        var VSet_display = true;
        function doDisplay(){
            var con = document.querySelector('.video_setting');
            if(con.style.display=='none'){
                con.style.display = 'block';
            }
            else{
                con.style.display = 'none';
            }
        }
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '360',
                width: '640',
                videoId: '{{lecture.video_id}}',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                },
                playerVals: { 'origin': 'http://127.0.0.1:8000' }
            });
        }

        // 비디오 로딩완료시 동작
        // 1. 동영상 총 시간 구하기
        // 2. 동영상 누적 재생시간 초기화
        // 3. 동영상 현재 구간 초기화

        function getVideoTime() {
            var totaltime = player.getDuration()
            return totaltime
        }
        var init = false
        var total_time = 0
        var current_time = 0
        var run_time = 0
        var start = new Date()
        var end = new Date()
        var interval = 5
        function onPlayerReady(event) {
            // total_time 서버로 보내기
            event.target.playVideo();
            total_time = getVideoTime()
        }

        // 비디오 상태 변경시 동작
        // state = 1 : 재생, 2 : 일시중지, 3 : 버퍼링, 0 : 종료
        // js 시간함수 사용해서 재생, 일시중지, 종료 함수 정의하기
        var done = false;
        var temp_time = 0
        function onPlayerStateChange(event) {
            end = new Date()
            temp_time = (end - start) / 1000
            if (event.data == YT.PlayerState.PLAYING && !done) {
                if (init == false) {
                    init = true
                }
                else {
                    run_time += temp_time
                    current_time += temp_time
                }
                // 이벤트 전송
                $.ajax({
                    url: '/analysis/lecture_event',
                    type: 'POST',
                    data: {
                        'lecture': "{{lecture.video_id}}",
                        'student': "{{lecture.student}}",
                        'interaction_type': 'pause',
                        'interaction_time_real': run_time,
                        'interaction_time_lecture': current_time
                    },
                    datatype: 'json',
                })
                
            }
            if (event.data == YT.PlayerState.PAUSED && !done) {
                run_time += temp_time
                // 이벤트 전송
                $.ajax({
                    url: '/analysis/lecture_event',
                    type: 'POST',
                    data: {
                        'lecture': "{{lecture.video_id}}",
                        'student': "{{lecture.student}}",
                        'interaction_type': 'redo',
                        'interaction_time_real': run_time,
                        'interaction_time_lecture': current_time
                    },
                    datatype: 'json',
                })
            }
            if (event.data == YT.PlayerState.ENDED && !done) {
                run_time += temp_time
                current_time += temp_time
                // 학습 종료, runtime 등 전송
            }
            start = new Date()
        }
        // 재생 or 정지
        function play() {
            end = new Date()
            temp_time = (end - start) / 1000

            start = new Date()
            if (player.getPlayerState() == 1) {
                // 이벤트 전송
                player.pauseVideo();
            }
            if (player.getPlayerState() == 2) {
                player.playVideo();
            }
            if (player.getPlayerState() == -1) {
                player.playVideo();
            }
        }
        document.getElementById("play").addEventListener('click', play);
        // 앞으로가기
        function fast_forward() {
            end = new Date()
            temp_time = (end - start) / 1000
            if (player.getPlayerState() == 2) {
                run_time += temp_time
            }
            else {
                run_time += temp_time
                current_time += temp_time
            }
            start = new Date()
            player.seekTo(parseInt(current_time) + interval)
            current_time += interval
            console.log(run_time, current_time)
            // 이벤트 전송
            $.ajax({
                url: '/analysis/lecture_event',
                type: 'POST',
                data: {
                    'lecture': "{{lecture.video_id}}",
                    'student': "{{lecture.student}}",
                    'interaction_type': 'fast_forward',
                    'interaction_time_real': run_time,
                    'interaction_time_lecture': current_time
                },
                datatype: 'json',
            })
        }
        document.getElementById("fast_forward").addEventListener('click', fast_forward);
        // 뒤로가기
        function rewind() {
            end = new Date()
            temp_time = (end - start) / 1000
            if (player.getPlayerState() == 2) {
                run_time += temp_time
            }
            else {
                run_time += temp_time
                current_time += temp_time
            }
            start = new Date()
            player.seekTo(parseInt(current_time) - interval)
            current_time -= interval
            // 이벤트 전송
            $.ajax({
                url: '/analysis/lecture_event',
                type: 'POST',
                data: {
                    'lecture': "{{lecture.video_id}}",
                    'student': "{{lecture.student}}",
                    'interaction_type': 'rewind',
                    'interaction_time_real': run_time,
                    'interaction_time_lecture': current_time
                },
                datatype: 'json',
            })
        }
        document.getElementById("rewind").addEventListener('click', rewind);
        // 앞으로가기 & 뒤로가기 시간 설정
        function set_interval() {
            var box = document.querySelector(".set_interval_box")
            interval = parseInt(box.options[box.selectedIndex].value)
        }
        // 재생속도 설정
        function setPlaybackRate() {
            var box = document.querySelector(".set_speed_box")
            player.setPlaybackRate(parseFloat(box.options[box.selectedIndex].value))
        }

        // 제목 및 메모 저장
        $('#title_input').on("change keyup paste input", function(){
            var memo_data = document.querySelector('#title_input').value
            $.ajax({
                    url: '/learning/save_title',
                    type: 'POST',
                    data: {
                        'idx': '{{lecture.pk}}',
                        'memo': memo_data,
                    },
                    datatype: 'json',
            })
        });
        // 폴더 선택 및 생성
        $("input[class='select_folder']").change(function(){
            var sub_name = event.target.value
            if (sub_name === '[새로운 과목 지정]') {
                
            }
            else {
                $.ajax({
                    url: '/learning/set_subject',
                    type: 'POST',
                    data: {
                        'idx': '{{lecture.pk}}',
                        'sub_name': sub_name,
                    },
                    datatype: 'json',
                })
            }
        });
        // 내 문서함
        document.querySelector('.mymemo_storage').addEventListener('click', function(event){
            window.open("{% url 'home' %}");
        }); 
        // 학습 종료
        document.querySelector('.finish_learning').addEventListener('click', function(event){
            alert('학습이 완료되었습니다.')
            $.ajax({
                    url: '/learning/finish_learning',
                    type: 'POST',
                    data: {
                        'idx': '{{lecture.pk}}',
                        'lecture_time':total_time,
                        'learning_time':run_time
                    },
                    datatype: 'json',
                })
            
        }); 
    </script>
</body>

</html>