<div className="container">
    <div className="Video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{lecture.video_id}}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="container">
    <form>
        <div class="title">
            <textarea class="title_input" id="title_input" rows="1" maxlength="50" minlength="3"
                placeholder="제목을 입력하세요."></textarea>
        </div>
        <div class="content">
            <textarea class="content_input" id="content_input" rows="19" maxlength="1000" minlength="10"
                placeholder="작성할 내용을 입력하세요.">{{lecture.name}}</textarea>
        </div>
        <div class="mycam">
            <img src="http://127.0.0.1:8000/chrom/detectme" style="width: 200px;" />
        </div>
        <!-- {/* <span class="textarea_count">0/1000 (최대 1000자)</span> */} -->
    </form>
</div>