<div class="container">
    <div class="test">
        <div class="title">video TEST</div>


        <form action="{% url 'learning' %}" method="POST">
            {% csrf_token %}

            <div class="input-box">
                <div id="subject_name_title">subject_name</div>
                <input class="Subject" type="text" name="subject_name" placeholder="subject_name"></input>
            </div>

            <div class="input-box">
                <div id="url_title">url</div>
                <input class="Subject" type="text" name="url" placeholder="url"></input>
            </div>

            <div class="input-box">
                <div id="video_length_title">video_length</div>
                <input class="Subject" type="text" name="video_length" placeholder="video_length"></input>
            </div>

            <input id="submit_Subject" type="submit" value="Submit">

        </form>



    </div>
</div>