{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">

{% load socialaccount %}
<div class="container">
    <!-- <div class="signin"> -->
    <!-- <div class="title">Sign in</div> -->


    <!-- <form action="" method="POST">
            {% csrf_token %}

            <div class="input-box">
                <div id="id_title">id</div>
                <input class="signin" type="text" name="id" placeholder="id"></input>
            </div>


            <div class="input-box">
                <div id="password_title">password</div>
                <input class="signin" type="password" name="password" placeholder="password"></input>
            </div>

            <input id="submit_signin" type="submit" value="Submit">
            <a href="{% provider_login_url 'google' %}">Sign in with Google</a>
        </form> -->


    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}

            <h1>Sign in</h1>
            <div class="social-container">
            </div>
            
            <div class="input-box">
                <div id="id_title">id</div>
                <input class="signin" type="text" name="id" placeholder="id"></input>
            </div>

            <div class="input-box">
                <div id="password_title">password</div>
                <input class="signin" type="password" name="password" placeholder="password"></input>
            </div>
        
            <input id="submit_signin" type="submit" value="Submit">
            <a id="google_sigin" href="{% provider_login_url 'google' %}">
                
                Sign in with Google    
            </a>
        </form>
    </div>




    <!-- </div> -->
</div>
{% endblock %}

<!-- Copyright (c) 2022 by Florin Pop  -->